[submodule "wildriver"]
	path = wildriver
	url = git@github.com:dlasalle/wildriver
[submodule "dolos"]
	path = dolos
	url = git@bitbucket.org:dlasalle/dolos
[submodule "poros"]
	path = poros
	url = https://github.com/dlasalle/poros
